{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- Login area Start -->
<div class="login-area section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
        <div class="login-card">
          <!-- Logo -->
          <div class="logo mb-40">
            <a href="{% url 'home' %}" class="mb-30 d-block"><img src="{% static 'images/logo/Logo-charitfix.png' %}" alt="logo"></a>
          </div>
          
          <!-- Error Messages -->
          {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              {% endfor %}
            </div>
          {% endif %}

          <!-- Form -->
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="position-relative contact-form mb-24">
              <label for="id_login" class="contact-label">{% trans "Username or Email" %}</label>
              <input type="text" name="login" placeholder="{% trans 'Username or Email' %}" autocomplete="username" required id="id_login" class="form-control contact-input {% if form.login.errors %}is-invalid{% endif %}">
              {% if form.login.errors %}
                <div class="invalid-feedback">
                  {% for error in form.login.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="contact-form mb-24">
              <div class="position-relative">
                <div class="d-flex justify-content-between align-items-center">
                  <label for="id_password" class="contact-label">{% trans "Password" %}</label>
                  <a href="{% url 'account_reset_password' %}"><span class="text-primary text-15">{% trans "Forgot Password?" %}</span></a>
                </div>
                <input type="password" name="password" placeholder="{% trans 'Password' %}" required id="id_password" class="form-control contact-input password-input {% if form.password.errors %}is-invalid{% endif %}">
                <i class="toggle-password ri-eye-line"></i>
                {% if form.password.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button class="btn-primary-fill justify-content-center" type="submit">
              <span class="d-flex justify-content-center gap-6">
                <span>{% trans "Sign In" %}</span>
              </span>
            </button>
          </form>

          <div class="login-footer">
            <div class="create-account">
              <p>
                {% trans "Don't have an account?" %}
                <a href="{{ signup_url }}">
                  <span>{% trans "Sign Up" %}</span>
                </a>
              </p>
            </div>
            {% get_providers as socialaccount_providers %}
            {% for provider in socialaccount_providers %}
              {% if provider.id == "google" %}
                <a href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}" class="login-btn d-flex align-items-center justify-content-center gap-10">
                  <img src="{% static 'images/icon/google-icon.png' %}" alt="Google icon" class="m-0">
                  <span>{% trans "Login with Google" %}</span>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End-of Login -->
{% endblock %}

